.startButton {
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid white;
    border-radius: 6px;
    color: white;
    text-align: center;
    line-height: 40px;
    position: relative;
    margin: 0 auto;
}

.startButton:hover {
    background-color: rgb(255, 255, 255);
    border-color: black;
    color: black;
    font-family: "Roboto Mono Bold", sans-serif;
    cursor: pointer;
}