.BackArrow {
    fill: black;
    position: fixed;
    bottom: 2%;
    left: 5%;
    transition: transform 0.5s; /* Add transition */
    transition-timing-function: ease;
}

.BackArrow:hover {
    transform: scale(1.3); /* Scale up */
    cursor: pointer;
}