.ImageNav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.Image {
    max-height: 65vh;
    max-width: 75vw;
    transition: transform 0.5s;
    z-index: 1;
}

.Image:hover {
    transform: scale(1.04);
    z-index: 10;
}
