.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    z-index: -1;
}
.background, .middleLayer, .topLayer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: cycle 20s linear infinite;
}
.background {
    background: linear-gradient(45deg, rgb(255, 255, 255)0 50%, rgb(0, 0, 0)50% 100%);
    background-size: 130% 130%;
    z-index: -3;
}

.middleLayer {
    background: linear-gradient(27deg, rgba(255, 255, 255, 0.5) 0 50%, rgba(0, 0, 0, 0.5) 50% 100%);
    background-size: 115% 115%;
    z-index: -2;
}

.topLayer {
    background: linear-gradient(-15deg, rgba(255, 255, 255, 0.5)0 45%, rgba(0, 0, 0, 0.5) 45% 100%);
    background-size: 120% 120%;
    z-index: -1;
}


@keyframes cycle {
    0% {
        background-position: 50% 50%;
    }
    7% {
        background-position: 55% 58%;
    }
    13% {
        background-position: 65% 61%;
    }
    20% {
        background-position: 75% 59%;
    }
    26% {
        background-position: 78% 51%;
    }
    33% {
        background-position: 72% 46%;
    }
    40% {
        background-position: 61% 48%;
    }
    46% {
        background-position: 32% 60%;
    }
    53% {
        background-position: 22% 53%;
    }
    60% {
        background-position: 23% 40%;
    }
    66% {
        background-position: 36% 22%;
    }
    73% {
        background-position: 39% 21%;
    }
    80% {
        background-position: 41% 24%;
    }
    86% {
        background-position: 43% 40%;
    }
    93% {
        background-position: 48% 49%;
    }
    100% {
        background-position: 50% 50%;
    }
}
